.div-body{
  height: 100%;
  font-family: "Lucida Console", "Courier New", monospace;
}
.header{
  margin-top: 2%;
  margin-bottom: 0.5%;
  color: white;
}
.header h1{
  text-align: center;
  font-size: 300%;
}
.header p{
  margin-top: 1%;
  text-align: center;
  font-size: 80%;
}
.div-barra-busqueda{
  margin: 0.5%;
}
.div-cuerpo{
  padding: 2%;
  border: solid red 2px;
}
.div-graficas{
  padding: 1%;
  border: solid green 2px;
  display:flex;
  align-items: center;
  text-align: center;
}
.div-ram{

  margin: auto;
  border: solid yellow 2px;
  width: 20%;
}
.div-bateria{

  margin: auto;
  border: solid yellow 2px;
  width: 20%;
}
.div-cpu{

  margin: auto;
  border: solid yellow 2px;
  width: 20%;
}
